In [3]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [4]:
# Load the Data
df_train = pd.read_pickle("./data/dataset_b_noisy_7_agents_training.pkl") 
df_test = pd.read_pickle("./data/dataset_b_noisy_7_agents_test.pkl")  
df_use_cases = pd.read_pickle("./data/use_cases.pkl")

In [7]:
df_train.head()

,srcAS,destAS,srcCC,destCC,num_hops,lat,long,IPsource,geoCC,ASN,vf,combined,geo,owner
trid,,,,,,,,,,,,,,
1328731,14061,42999,US,TR,10,"[50.115520000000004, 50.115520000000004, 50.11...","[8.68417, 8.68417, 8.68417, 8.67185, 9.491, 8....","[1, 2, 1, 1, 3, 1, 3, 3, 2, 3]","[DE, DE, DE, DE, DE, DE, TR, TR, TR, TR]","[14061, 14061, 2914, 2914, 2914, 9121, 9121, 9...",0,0,0,0
5183622,138062,3605,ID,GU,1,[22.285521],[114.1577],[1],[HK],[24482],0,0,0,0
3258755,14061,24173,US,VN,10,"[40.714271999999994, 40.714271999999994, 40.71...","[-74.005966, -74.005966, -74.005997, -122.3320...","[1, 1, 1, 1, 1, 1, 1, 3, 3, 3]","[US, US, US, US, JP, HK, HK, HK, VN, VN]","[14061, 14061, 2914, 2914, 2914, 2914, 2914, 2...",0,0,0,0
2660757,16276,7171,FR,US,13,"[0.0, 0.0, 0.0, 0.0, 1.28967, 43.296669, 48.86...","[0.0, 0.0, 0.0, 0.0, 103.850098, 5.37639, 2.34...","[4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, nan, nan, SG, FR, FR, FR, FR, US, U...","[0, 0, 0, 0, 16276, 16276, 16276, 6461, 6461, ...",0,0,0,0
1730541,20473,12479,US,ES,7,"[48.860001000000004, 48.860001000000004, 48.86...","[2.34444, 2.34444, 2.34444, 5.381069999999999,...","[1, 1, 1, 2, 1, 1, 1]","[FR, FR, FR, FR, ES, ES, ES]","[3257, 3257, 3257, 5511, 5511, 5511, 5511]",0,0,0,0

In [8]:
df_test.head()

,srcAS,destAS,srcCC,destCC,num_hops,lat,long,IPsource,geoCC,ASN,vf,combined,geo,owner
trid,,,,,,,,,,,,,,
4319757,8551,6147,IL,PE,12,"[32.080878999999996, 32.080878999999996, 50.11...","[34.780571, 34.780571, 8.68417, 8.67185, 8.671...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3]","[IL, IL, DE, DE, DE, GB, GB, US, US, ES, ES, PE]","[8551, 8551, 8551, 8551, 3257, 3257, 3257, 129...",0,0,0,0
3971404,8551,9121,IL,TR,13,"[32.080878999999996, 32.080878999999996, 32.08...","[34.780571, 34.780571, 34.780571, -0.125740000...","[2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3]","[IL, IL, IL, GB, GB, GB, GB, GB, NL, NL, NL, N...","[8551, 8551, 8551, 8551, 3257, 3257, 2914, 291...",0,0,0,0
4094951,8551,9583,IL,IN,8,"[32.080878999999996, 32.080878999999996, 32.08...","[34.780571, 34.780571, 34.780571, -0.125740000...","[2, 2, 2, 1, 4, 4, 4, 4]","[IL, IL, IL, GB, nan, nan, nan, nan]","[8551, 8551, 8551, 9583, 0, 0, 0, 0]",0,0,0,0
1619804,20473,393396,US,US,8,"[48.860001000000004, 48.860001000000004, 48.86...","[2.34444, 2.34444, 2.34444, 10.7487, 2.34444, ...","[1, 1, 1, 3, 1, 1, 1, 3]","[FR, FR, FR, NO, FR, FR, US, US]","[1299, 1299, 1299, 3356, 3356, 3356, 3549, 393...",0,0,0,0
1353363,14061,29465,US,NG,10,"[50.115520000000004, 50.115520000000004, 50.11...","[8.68417, 8.68417, 8.67185, 8.67185, 2.34444, ...","[2, 1, 1, 1, 1, 1, 1, 1, 3, 3]","[DE, DE, DE, DE, FR, GB, GB, GB, NG, NG]","[14061, 14061, 1299, 1299, 1299, 1299, 1299, 1...",0,0,0,0

In [9]:
df_use_cases.head()

,srcAS,destAS,srcCC,destCC,num_hops,lat,long,IPsource,geoCC,ASN
trid,,,,,,,,,,
0,32780,4657,US,SG,19,"[40.71427, 40.71427, 40.71427, 40.71427, 4.609...","[-74.00596999999999, -74.00596999999999, -74.0...","[1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 2, 2, 1, ...","[US, US, US, US, CO, CO, US, US, US, SG, SG, S...","[32780, 32780, 6461, 6461, 262589, 262589, 645..."
1,42708,30917,SE,HU,14,"[59.33258000000001, 59.33258000000001, 59.5, 5...","[18.0649, 18.0649, 18.0, 10.01534, 10.01534, 8...","[1, 1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 1, 2, 2]","[SE, SE, SE, DE, DE, DE, DE, DE, HU, HU, HU, H...","[42708, 1299, 1299, 1299, 1299, 3320, 3320, 33..."
2,3257,5511,US,FR,7,"[47.606199999999994, 22.28552, 22.28552, 22.28...","[-122.33200000000001, 114.15768999999997, 114....","[1, 1, 1, 1, 2, 1, 1]","[US, HK, HK, HK, FR, FR, FR]","[3257, 3257, 5511, 5511, 5511, 5511, 5511]"
3,46562,8220,US,IE,17,"[34.0522, 34.0522, 34.0522, 34.0522, 29.424120...","[-118.244, -118.244, -118.244, -118.244, -98.4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, ...","[US, US, US, US, US, US, US, US, US, US, US, S...","[46562, 46562, 174, 174, 174, 174, 174, 174, 1..."

In [10]:

# Data Preprocessing
selected_features = ['lat', 'long', 'geoCC', 'ASN']
X_train = df_train[selected_features]
y_train = df_train['srcAS']   

X_test = df_test[selected_features]
y_test = df_test['srcAS']

X_use_cases = df_use_cases[selected_features]

In [11]:

# Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_use_cases_scaled = scaler.transform(X_use_cases)

ValueError: setting an array element with a sequence.

In [ ]:
# Model Training
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

In [ ]:
# Model Evaluation
y_pred = model.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
# Inference on Use Cases
use_cases_predictions = model.predict(X_use_cases_scaled)
df_use_cases['predictions'] = use_cases_predictions
print(df_use_cases[['RouteID', 'predictions']])